#stimulus {
    padding-top: 220px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#face_left {
  margin-right: 30px;
}
#face_right {
  margin-left: 30px;
}
#button {
  margin-top: 10px;
}
#left_button {
  margin-right: 30px;
}
#right_button {
  margin-left: 30px;
}

.radio-group {
  display: inline-block; /* Aligns the groups horizontally */
  margin-right: 10px; /* Adds some space between the groups */
}

#ratingSlider {
  width: 30%;
  margin: 10px 0;
}